.App {
  margin: 0 auto;
  /* margin-top: 15px; */
  width: 25%;
}

.contain {
  padding: 50px;
}

.display {
  position: relative;
  text-align: center;
  margin-top: 25px;
  border: 3px solid black;
  font-weight: bolder;
  padding: 5px;
  overflow-y: auto;
  height: 300px;
  color: white;
}

.displayTwo {
  
  text-align: center;
  margin-top: 25px;
  border: 3px solid black;
  background-color: white;
  font-weight: bolder;
  padding: 5px;
  overflow-y: auto;
  height: 300px;
}

.error {
  margin: 0 auto;
  text-align: center;
  height: 50px;
  width: 50%;
  font-weight: bolder;
}

.displayFive {
  text-align: center;
  margin: 25px;
  padding: 5px;
  border: 3px dashed black;
  background-color: rgb(193, 226, 240);
}

#myVideo {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#backVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  object-fit: cover;
}

  
@media only screen and (max-width: 768px) {
  .App {
    margin: 0 auto;
    width: 100%;
  }
}